body {
  margin: 0;
  padding: 0;
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(90deg, #222831 0%, #616f39 75%, #a7d129 100%);
  z-index: -1;
}

.box div{
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: 6px solid rgba(255,255,255,0.8);
}

.box div:nth-child(1){
  top: 12%;
  left: 42%;
  animation: animate 10s linear infinite;
}

.box div:nth-child(2){
  top: 70%;
  left: 50%;
  animation: animate 7s linear infinite;
}

.box div:nth-child(3){
  top: 17%;
  left: 6%;
  animation: animate 9s linear infinite;
}

.box div:nth-child(4){
  top: 20%;
  left: 60%;
  animation: animate 10s linear infinite;
}

.box div:nth-child(5){
  top: 67%;
  left: 10%;
  animation: animate 6s linear infinite;
}

.box div:nth-child(6){
  top: 80%;
  left: 70%;
  animation: animate 12s linear infinite;
}

.box div:nth-child(7){
  top: 60%;
  left: 80%;
  animation: animate 15s linear infinite;
}

.box div:nth-child(8){
  top: 32%;
  left: 25%;
  animation: animate 16s linear infinite;
}

.box div:nth-child(9){
  top: 90%;
  left: 25%;
  animation: animate 9s linear infinite;
}

.box div:nth-child(10){
  top: 20%;
  left: 80%;
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0%{
    transform: scale(0) translateY(0) rotate(0);
    opacity: 1;
  }
  100%{
    transform: scale(1.3) translateY(-90px) rotate(360deg);
    opacity: 0;
  }
}

h1 {
  margin: auto;
  padding: 20px;
  text-align: center;
  color: #81b214
}

h2 {
  color: #bbd196;
}

h5 {
  color: #d3de32;
}

.wrapper {
  background-color: #232931;
  border: 1px solid black;
  /* display: flex; */
  width: 700px;
  height: 600px;
  margin: 10px;
  padding: 10px;
  position: fixed;
  top: 75px;
  left: 200px;
  overflow-y: scroll;
}

.main-div .side{
  display: flex;
  padding: 10px;
  flex-direction: column;
  position: fixed;
  top: 88px;
  
}

.side-links {
  padding: 20px;
  text-decoration: none;
  color: #91d18b;
}

.meme {
  width: 400px;
  opacity: 1;
}

.create-meme {
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}