body {
  background-color: #B19F9E;
}

.display-my-memes {
  
}

.wrapper {
  background-color: #19181a;
  border: 1px solid black;
  display: flex;
  width: 700px;
  height: 600px;
  margin: 10px;
  padding: 10px;
  position: fixed;
  top: 75px;
  left: 120px;
  overflow: scroll;
  color: aliceblue;
}

.main-div .side, .main {
  display: flex;
  padding: 10px;
}

.main-div .side {
  flex-direction: column;
  position: fixed;
  top: 200px;
  background-color: #479761;
}

.main-div .main {
  flex-direction: row;
  position: fixed;
  padding: 20px 0px 26px 180px;
  background-color: #479761;
}

.main-links {
  padding: 10px;
}

.side-links {
  padding: 20px 10px 20px 10px
}

.meme {
  width: 400px;
  opacity: 1;
}